In [ ]:
import pandas as pd
import numpy as np

**SUMMARY DATA**

JUMLAH DATA

In [ ]:
place_tourism = pd.read_csv('./tourism_with_id.csv')
rating_tourism = pd.read_csv('./tourism_rating.csv')

print('Banyak Wisata : ', len(place_tourism.Place_Id.unique()))
print('Banyak Rating : ', len(rating_tourism.Place_Ratings))

Banyak Wisata :  437
Banyak Rating :  10000

ANALISIS EKSPLORASI DATA

Dataset Tempat Wisata

In [ ]:
place_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB

Print Dataset Tempat Wisata

In [ ]:
place_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [ ]:
place_tourism.describe()

,Place_Id,Price,Rating,Time_Minutes,Lat,Long,Unnamed: 11,Unnamed: 12
count,437.000000,437.000000,437.000000,205.000000,437.000000,437.000000,0.0,437.000000
mean,219.000000,24652.173913,4.442792,82.609756,-7.095438,109.160142,NaN,219.000000
std,126.295289,66446.374709,0.208587,52.872339,0.727241,1.962848,NaN,126.295289
min,1.000000,0.000000,3.400000,10.000000,-8.197894,103.931398,NaN,1.000000
25%,110.000000,0.000000,4.300000,45.000000,-7.749590,107.578369,NaN,110.000000
50%,219.000000,5000.000000,4.500000,60.000000,-7.020524,110.237468,NaN,219.000000
75%,328.000000,20000.000000,4.600000,120.000000,-6.829411,110.431869,NaN,328.000000
max,437.000000,900000.000000,5.000000,360.000000,1.078880,112.821662,NaN,437.000000

Dataset Rating

In [ ]:
rating_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        10000 non-null  int64
 1   Place_Id       10000 non-null  int64
 2   Place_Ratings  10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB

Print Dataset Rating

In [ ]:
rating_tourism.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [ ]:
rating_tourism.describe()

            User_Id      Place_Id  Place_Ratings
count  10000.000000  10000.000000   10000.000000
mean     151.292700    219.416400       3.066500
std       86.137374    126.228335       1.379952
min        1.000000      1.000000       1.000000
25%       77.000000    108.750000       2.000000
50%      151.000000    220.000000       3.000000
75%      226.000000    329.000000       4.000000
max      300.000000    437.000000       5.000000

**PREPROCESSING**

DATAFRAME BARU

In [ ]:
place_tourism = place_tourism.drop(['Description', 'City', 'Price', 'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11', 'Unnamed: 12'], axis=1)

In [ ]:
place_tourism.head()

   Place_Id                         Place_Name       Category
0         1                   Monumen Nasional         Budaya
1         2                           Kota Tua         Budaya
2         3                      Dunia Fantasi  Taman Hiburan
3         4  Taman Mini Indonesia Indah (TMII)  Taman Hiburan
4         5           Atlantis Water Adventure  Taman Hiburan

MISSING DATA

In [ ]:
place_tourism.isnull().sum()

Place_Id      0
Place_Name    0
Category      0
dtype: int64

In [ ]:
rating_tourism.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

DATA DOUBLE

In [ ]:
print(f'Jumlah data double pada datases place : {place_tourism.duplicated().sum()}')
print(f'Jumlah data double pada datases rating : {rating_tourism.duplicated().sum()}')

Jumlah data double pada datases place : 0
Jumlah data double pada datases rating : 79

HAPUS DATA DOUBLE

In [ ]:
rating_tourism.drop_duplicates(inplace = True)

In [ ]:
print(rating_tourism)

      User_Id  Place_Id  Place_Ratings
0           1       179              3
1           1       344              2
2           1         5              5
3           1       373              3
4           1       101              4
...       ...       ...            ...
9995      300       425              2
9996      300        64              4
9997      300       311              3
9998      300       279              4
9999      300       163              2

[9921 rows x 3 columns]

In [ ]:
# Preprocess the data
place_tourism = place_tourism[['Place_Name', 'Category']]
place_tourism['Category'] = place_tourism['Category'].apply(lambda x: ''.join(x.split()).lower()) 
place_tourism

<ipython-input-18-52342e6c93f8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_tourism['Category'] = place_tourism['Category'].apply(lambda x: ''.join(x.split()).lower())

                                    Place_Name      Category
0                             Monumen Nasional        budaya
1                                     Kota Tua        budaya
2                                Dunia Fantasi  tamanhiburan
3            Taman Mini Indonesia Indah (TMII)  tamanhiburan
4                     Atlantis Water Adventure  tamanhiburan
..                                         ...           ...
432                        Museum Mpu Tantular        budaya
433                              Taman Bungkul  tamanhiburan
434           Taman Air Mancur Menari Kenjeran  tamanhiburan
435               Taman Flora Bratang Surabaya  tamanhiburan
436  Gereja Perawan Maria Tak Berdosa Surabaya  tempatibadah

[437 rows x 2 columns]

VEKTORISASI

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()

tf.fit(place_tourism['Category'])

tf.get_feature_names_out()

array(['bahari', 'budaya', 'cagaralam', 'pusatperbelanjaan',
       'tamanhiburan', 'tempatibadah'], dtype=object)

In [ ]:
place_tourism.set_index('Place_Name', inplace=True)
place_tourism

                                               Category
Place_Name
Monumen Nasional                                 budaya
Kota Tua                                         budaya
Dunia Fantasi                              tamanhiburan
Taman Mini Indonesia Indah (TMII)          tamanhiburan
Atlantis Water Adventure                   tamanhiburan
...                                                 ...
Museum Mpu Tantular                              budaya
Taman Bungkul                              tamanhiburan
Taman Air Mancur Menari Kenjeran           tamanhiburan
Taman Flora Bratang Surabaya               tamanhiburan
Gereja Perawan Maria Tak Berdosa Surabaya  tempatibadah

[437 rows x 1 columns]

In [ ]:

#matriks_tfidf = tf.fit_transform(place_tourism['Category'])
#matriks_tfidf.toarray() #Masih berbentu matriks sparse

In [ ]:
#print(f'Dimensi Matriks TFIDF : {matriks_tfidf.shape}')

In [ ]:
#Mengubah matriks sparse jadi matriks dense
#matriks_tfidf.todense()

In [ ]:
#Place_Name = place_tourism.Place_Name

#Menggabungkan Data yang telah di Vektorisasi
#data_matriks = pd.DataFrame(
 #   matriks_tfidf.todense(),
  #  columns = tf.get_feature_names_out(),
   # index = Place_Name
#)
#data_matriks

COSINE SIMILARITY

In [ ]:
#Buat nyari derajat persamaan tiap variabel nama wisata
#from sklearn.metrics.pairwise import cosine_similarity

#cos_sim = cosine_similarity(data_matriks)
#cos_sim

In [ ]:
#data_cos_sim = pd.DataFrame(
#    cos_sim,
#    index = place_tourism.Place_Name,
#    columns = place_tourism,
#)
#data_cos_sim.sample(437,axis=0)

In [ ]:
#data_cos_sim['Waduk Jatibarang']

REKOMENDASI

In [ ]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split

train_place_tourism, test_place_tourism = train_test_split(place_tourism, test_size=0.2, random_state=42)

In [ ]:
print(train_place_tourism.shape)
print(test_place_tourism.shape)

(349, 1)
(88, 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# Create count matrix for data
count = CountVectorizer()
count_matrix = count.fit_transform(place_tourism['Category'])

indices = pd.Series(place_tourism.index)
cosine_sim = cosine_similarity(count_matrix, count_matrix)

def rekomendasi(Place_Name, cosine_sim=cosine_sim):
  recommended_place = []
  idx = indices[indices == Place_Name].index[0]
  score_series = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
  top_10_indexes = list(score_series.iloc[1:11].index)
  for i in top_10_indexes:
    recommended_place.append(list(place_tourism.index)[i])
  return recommended_place

In [ ]:
rekomendasi('Waduk Jatibarang')

['Situ Cileunca',
 'Taman Begonia',
 'Taman Hutan Raya Ir. H. Juanda',
 'The Lodge Maribaya',
 'Taman Bunga Cihideung',
 'Wisata Alam Kalibiru',
 'Observatorium Bosscha',
 'Puncak Gunung Api Purba - Nglanggeran',
 'Pemandian Air Panas Ciater',
 'Bunker Kaliadem Merapi']

In [ ]:
# Testing and evaluating accuracy
test_place_tourism['Recommendations'] = test_place_tourism.index.map(rekomendasi)
test_place_tourism['CorrectRecommendation'] = test_place_tourism.apply(lambda x: x.name in x['Recommendations'], axis=1)

# Calculate accuracy
accuracy = test_place_tourism['CorrectRecommendation'].mean()
print("Accuracy:", accuracy)

# Calculate precision, recall, and F1-score
from sklearn.metrics import precision_score, recall_score, f1_score

# Convert the ground truth labels to the appropriate data type, if needed
y_true = test_place_tourism['CorrectRecommendation'].astype(int)

# Convert the predicted labels to the appropriate data type, if needed
y_pred = test_place_tourism['CorrectRecommendation'].astype(int)

# Calculate precision, recall, and F1-score
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.10227272727272728
Precision: 1.0
Recall: 1.0
F1-score: 1.0

In [ ]:
from sklearn.metrics import confusion_matrix

# Calculate confusion matrix
conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

# Check if the model is overfitting
if conf_matrix[0, 0] == y_true.sum() and conf_matrix[1, 1] == y_true.sum():
    print("Model is overfitting")
else:
    print("Model is not overfitting")

Confusion Matrix:
[[79  0]
 [ 0  9]]
Model is not overfitting

In [ ]:
place_tourism.set_index('Place_Name', inplace=True)

KeyError: ignored

In [ ]:
place_tourism.set_index('Place_Name', inplace=True)
indices = pd.Series(place_tourism.index)

In [ ]:
def rekomendasi_place(Place_Name, similarity_data = data_cos_sim):
  recommended_place = []
  idx = similarity_data.index.get_loc(Place_Name)
  score_series = pd.Series(data_cos_sim[idx]).sort_values(ascending=False)
  top_10_indexes = list(score_series.iloc[1:11].index)
  for i in top_10_indexes:
    recommended_place.append(list(data.index)[i])
  return recommended_place

In [ ]:
indices = pd.Series(place_tourism.index)
cos_sim = cosine_similarity

def rekomendasi(Place_Name, data_cos_sim = data_cos_sim):
  recommended_place = []
  idx = data_cos_sim.index.get_loc(Place_Name)
  score_series = pd.Series(data_cos_sim[idx]).sort_values(ascending=False)
  top_10_indexes = list(score_series.iloc[1:11].index)
  for i in top_10_indexes:
    recommended_place.append(list(data.index)[i])
  return recommended_place

In [ ]:
rekomendasi_place('Waduk Jatibarang')

In [ ]:
#def rekomendasi_place(place_name, similarity_data = data_cos_sim, items = place_tourism['Place_Name'], k = 10):
  #index = similarity_data.loc[:, place_name].to_numpy().argpartition(range(-1, -k, -1))
  #closest =similarity_data.columns[index[-1:-(k+2):-1]]
  #closest = closest.drop(place_name, errors = 'ignore')
  #return pd.DataFrame(closest).merge(items).head(k)

In [ ]:
place_name = 'Situ Patenggang'
place_tourism[place_tourism.Place_Name.eq(place_name)]

In [ ]:
rekomendasi_place(place_name)

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer

# Membaca data dari file atau sumber data lainnya
data = place_tourism  # Lakukan langkah pengambilan data sesuai dengan sumber data Anda

# Memisahkan fitur dan label
X = data['Place_Name']  # Fitur place_name
y = data['Category']  # Label kategori

# Melakukan encoding kategori menjadi bilangan bulat
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Melakukan one-hot encoding pada data kategori
#num_classes = len(label_encoder.classes_)
#y = tf.keras.utils.to_categorical(y, num_classes)

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
model = RandomForestClassifier(n_estimators=100, max_depth=500)

history = model.fit(
    X_train_tfidf,
    y_train
)
preds = model.predict(X_test)
accuracy = accuracy_score(y_test, preds)
print("Accuracy:", accuracy)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train_tfidf = tf.fit_transform(X_train)
X_test_tfidf = tf.transform(X_test)

model.fit(X_train_tfidf, y_train)
y_pred = model.predict(X_test_tfidf)

In [ ]:
print("Dimensi y_test:", np.shape(y_test))
print("Dimensi y_pred:", np.shape(y_pred))

In [ ]:
y_test = np.ravel(y_test)
y_pred = np.ravel(y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix

# Menghitung confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# Check if the model is overfitting
if cm[0, 0] == y_test.sum() and cm[1, 1] == y_test.sum():
    print("Model is overfitting")
else:
    print("Model is not overfitting")